/*** Service ***/
.service-item .bg-icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../imgs/bg-icon.png) center center no-repeat;
    background-size: cover;
}
